@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background: white;
    font-family: 'Raleway', sans-serif; 
}

.jumbotron {
    background: #A42A15;
    color: white;
    background-image: url("https://s2.postimg.org/yeztxc0ux/afquoteapi.jpg");
    min-height: 350px;
}

.jumbotron h1 {
  padding-top: 50px;
}

.jumbotron p {
    font-size: 2.8em;
}

blockquote {
    padding: 0 20px;
}